    <%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css" />
    <link rel="stylesheet" href="/css/product.css" />
    </head>

    <body>
      <%- include('../includes/navigation.ejs') %>

      <main>
        <% if(products.length>0) {%>
        <% products.forEach(p=>{ %>
        <h1><%= p.product.title %>: price= <%= p.product.price %> : Quantity=<%= p.qty %></h1>
        <%})%>
        <% }else{ %>
        <h1>Your cart is empty</h1>
        <%}%>
    </main>
  <%- include('../includes/end.ejs') %>
